.ZUFAHRYOQS {
    padding-top: 32px;
    padding-bottom: 48px;
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width:1200px) {
        padding: 16px
    }
    .COSVFIRFRK {
        img {
            justify-content: center;
        }
    }
}
img {
    border-radius: 12px;
    text-align: center;
    width: 100%;
}
.HTLPGXEDDH {
    padding-bottom: 12px;
}
.AYYPFXIIPF {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
