.ANHWEDDSDR {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    .AESDPBOUGT {
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 51px;
        color: #30237d;
        text-transform: uppercase;
        text-align: center;
    }
    .slick-slide {
        justify-content: center;
        align-items: center;
        opacity: 0.6;
        transition: opacity 0.5s ease;
    }
}

.AESDPBOUGT {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.slider-container {
    max-width: 1080px;
    margin: 0 auto;
}
.WTMHUYXMAH{
    max-width: 100% !important;
    
}
.RIHXYSONTQ {
    padding: 16px;
    position: relative;
    .TVLPKJTLCS {
        opacity: 0.7;
        width: 91%;
        padding: 4px;
        bottom: 16px;
        border-radius: 15px;
        background: linear-gradient(to left, #0e2c58 0%, #1a4f8e 100%);
        position: absolute;
        span{
            opacity: 1 !important;
        }
    }
}

.RIHXYSONTQ img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.slick-slide {
    justify-content: center;
    align-items: center;
}
.slick-center {
    transform: scale(1.1);
    opacity: 1 !important;
}

.slick-center .RIHXYSONTQ img {
    opacity: 1;
}
.slick-prev:before {
    display: none;
}
.slick-next:before {
    display: none;
}
