.ZUPPOWRKTQ {
    padding: 24px 0px;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    @media (max-width:1200px) {
        padding: 16px;
    }
}

.IYTRYFKLJR {
    a {
        color: black;
    }
}
