.WJFPXMDEUL {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 60px;
    .HLKBQRPSKA {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .QLDDXPYIZQ {
            padding-bottom: 20px;
            flex-basis: calc(25% - 16px);
            @media (max-width:1200px) {
                padding: 16px;
                flex-basis: calc(50%);
            }
            @media (max-width: 700px) {
                flex-basis: calc(100%);
            }
            img {
                object-fit: contain;
                width: 100%;
                border-radius: 8px;
                @media (max-width:1200px) {
                        width: 280px;
                }
            }
        }
        .ESBPJTXTQX {
            a {
                color: black;
            }
            font-weight: bold;
            font-size: 16px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            &:hover {
                cursor: pointer;
            }
        }
      
    }
}
.RLBANWHNKB {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}